@model Ads.Common.ViewModels.AutoViewModel

@*<div class="form-horizontal" ng-controller="myAdsController">*@
        @using (Html.BeginForm("CreateAuto", "Ads", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.detail, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.detail, new { @class = "form-control", @rows = 10 })
                    @Html.ValidationMessageFor(model => model.detail, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group hidden">
                @Html.LabelFor(model => model.customer_id, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.customer_id, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.customerID } })
                    @Html.ValidationMessageFor(model => model.customer_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group hidden">
                @Html.LabelFor(model => model.category_Id, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.category_Id, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.categoryID } })
                    @Html.ValidationMessageFor(model => model.category_Id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.precio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.precio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.precio, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" ng-controller="typeController">
                @Html.LabelFor(model => model.marca, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("marcas", null, htmlAttributes: new { @class = "form-control", @ng_model = "test", @ng_change = "test()" })
                    @Html.ValidationMessageFor(model => model.marca, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.modelo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*<select class="form-control" id="modelo" name="modelo">
                        <option ng-repeat="item in modelos" value="{{item.Id}}">{{item.Name}}</option>
                    </select>*@
                    @Html.EditorFor(model => model.modelo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.modelo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.tipo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("tipos", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.tipo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.anio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.anio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.anio, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.kilometraje, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.kilometraje, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.kilometraje, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.vin, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.vin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.vin, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.condicion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("condiciones", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.condicion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Imágenes", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*<input type="file" class="form-control" name="files" multiple />*@
                    <div id="dragandrophandler"></div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        }
    @*</div>*@

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/app")

<script type="text/javascript" lang="javascript">
        $(function () {

            $('#dragandrophandler').DragDropTool({
                fileExtensions: "jpg, png, gif",
                allowedExtensions: true,
                maxFileSize: "",
                uploadStr: 'upload',
                dragDropStr: "Drag & Drop or Select Files"
            });
        });
</script>