@model Ads.Common.ViewModels.ArticleViewModel

@{
    ViewBag.Title = "Publicar un Anuncio";
}

<h2>@ViewBag.Title</h2> 
    
<div class="row col-md-12 form-horizontal" ng-app="myAds" ng-cloak ng-controller="myAdsController">
    @using (Ajax.BeginForm("CreateModel", "Ads", new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "FormArticle"
        }))
    {
        <hr />
        <div class="form-group col-md-5">
            @Html.LabelFor(model => model.category_Id, "Categoría", htmlAttributes: new { @class = "control-label  col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("categories", null, htmlAttributes: new { @class = "form-control", @ng_model = "category", @ng_change = "getArticleTypesByCategory()" })
                @*@Html.ListBox("category_id", null, htmlAttributes: new { @class = "form-control", @multiple = false, @size = 9 })*@
                @Html.ValidationMessageFor(model => model.category_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-5">
            @Html.Label("Tipo", "Tipo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" id="articleType" name="articleType">
                    <option ng-repeat="item in articleTypes" value="{{item.Type}}">{{item.Name}}</option>
                </select>
            </div>
        </div>

        <div class="form-group col-md-2">
            <button class="btn btn-default form-inline" type="submit">Search</button>
        </div>
    }

    <div id="FormArticle" class="col-md-6"></div>

    <div ng-view></div>

</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@Styles.Render("~/uploadFiles/css")

@section Scripts {
    
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusive")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/uploadFiles")

    <script type="text/javascript" lang="javascript">
        $(function () {

            /*$('#dragandrophandler').DragDropTool({
                fileExtensions: "jpg, png, gif",
                allowedExtensions: true,
                maxFileSize: "",
                uploadStr: 'upload',
                dragDropStr: "Drag & Drop or Select Files"
            });*/
        });
    </script>
}