@model IEnumerable<Ads.Common.ViewModels.ArticleViewModel>

@Html.Partial("Search")

<section id="listing-items" ng-app="myAds" ng-controller="myAdsController">
    <main id="items-list-view" class="items-list-view">
        <ul class="items-list">
            @foreach (var item in Model)
            {
                <li class="item article-id-@item.id">
                    <div>
                        <figure class="items-image lines">
                            @foreach (var imagen in item.resources)
                            {
                                <img alt="@item.title" src="@Url.Content("/resources/resource_" + item.id + "/" + imagen.path)">
                                break;
                            }
                        </figure>
                        <div class="items-info">
                            <h3><a href="/Ads/@item.articleType/@item.id">@item.title</a></h3>
                            <span class="description">
                                @if (item.detail.Length > 152) {
                                    @(item.detail.Substring(0, 152) + "...");
                                } else {
                                    @item.detail;
                                }
                            </span>
                        </div>
                        <p class="items-price">
                            @if (!String.IsNullOrEmpty(item.price.ToString())) {
                                @item.price;
                                <span class="price-type">Precio USD</span>
                            } else {
                                @Html.Raw("");
                            }
                        </p>
                        <p class="items-date">@String.Format("{0:D}", item.date), <br>@String.Format("{0:t}", item.date)</p>

                        @if ((int) ViewBag.CustomerId == item.customer_id) {
                        <button style="margin-left:30px;" class="btn btn-primary" type="button" onclick="window.open('/Ads/Message/@item.id', '_blank');">
                            Mensajes <span class="badge" style="background-color:#fff; color:#777;">@item.contacts.Count</span>
                        </button>
                        <!-- Single button -->
                        <div class="btn-group right">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="/Ads/Edit/@item.id">Edit</a></li>
                                <li><a href="javascript:void(0);" ng-click="ModalDelete(@item.id)">Delete</a></li>
                            </ul>
                        </div>
                        }

                    </div>
                </li>
            }
        </ul>
    </main>

    <div id="items-pagination">
        <ul class="items-paginations-numbers">
            <li>
                <a href="/Ads/Index/@(((ViewBag.CurrentRow < 2) ? 2 : ViewBag.CurrentRow) - 1)" rel="prev" class="icons pagination-arrow icon-arrow-left"></a>
            </li>
            <li class="current">
                @ViewBag.Rows @Html.Raw("Rows")
            </li>
            <!--li>
                <a href="/Ads/Index/2" class="pagination-number">2</a>
            </li-->
            <li>
                @{ float total = (ViewBag.Rows / 10); }
                <a href="/Ads/Index/@(((ViewBag.CurrentRow >= ViewBag.Rows) ? (ViewBag.Rows - 1) : (total > 1 ? total : 0)) + 1)" rel="next" class="icons pagination-arrow icon-arrow-right "></a>
            </li>
        </ul>
    </div>

    <div class="modal fade" id="modal-popup" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close modal-close-title" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Message</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="post_read_more_container">
                            <div class="post_bg">
                                Confirm Delete?
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="deleteArticle()">Delete</button>
                    <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</section>

@section Scripts {
    @Scripts.Render("~/bundles/app")
}