<div id="item-actions" class="item-actions">
    <div class="social-sharing">
        <p>Compartir este anuncio :</p>
        <ul>
            <li st_url='@Request.Url.AbsoluteUri' st_title='@Model.title' class='st_email_large' displaytext="Email"></li>
            <li st_url='@Request.Url.AbsoluteUri' st_title='@Model.title' class='st_facebook_large' displaytext="Facebook"></li>
            <li st_url='@Request.Url.AbsoluteUri' st_title='@Model.title' class='st_twitter_large' displaytext="Tweet"></li>
            <li st_url='@Request.Url.AbsoluteUri' st_title='@Model.title' class='st_googleplus_large' displaytext="Google"></li>
            <li st_url='@Request.Url.AbsoluteUri' st_title='@Model.title' class='st_sharethis_large' displaytext="ShareThis"></li>
            <script type='text/javascript'>var switchTo5x = false;</script>
            <script type='text/javascript' src='http://w.sharethis.com/button/buttons.js'></script>
            <script type='text/javascript'>
                            stLight.options({ publisher: 'f5c8911d-9c8f-4c79-b86f-e40f5a29e318' });
            </script>
        </ul>
    </div>
</div>
